.timeline-unit {
  @apply .relative .w-1/2 .py-5 .transition;

  transition-duration: 0.5s;
  max-height: 25rem;
}

.timeline-unit::before {
  @apply .absolute .pin-t .bg-teal .h-full;

  content: '';
  width: 10px;
}

.timeline-unit--hidden {
  @apply .my-0 .py-0;

  max-height: 0;
}
.timeline-unit--hidden .timeline-box {
  @apply .opacity-0;

  transition-delay: 0s;
  transform: scale(0.9);
}

.timeline-unit--left {
  @apply .pr-5;
}

.timeline-unit--right {
  @apply .pl-5 .ml-auto;
}

.timeline-unit--left::before {
  right: -5px;
}

.timeline-unit--right::before {
  left: -5px;
}

.timeline-box {
  @apply .relative .p-8 .bg-white .border-b-4 .border-grey .border-solid .transition;

  max-width: 27.5rem;
  transition-delay: 0.5s;
  transform: scale(1);
}

.timeline-box::after {
  @apply .absolute;

  content: '';
  top: calc(50% - 1.25rem);
  height: 0;
  width: 0;
  line-height: 0;
  border-top: 1.25rem solid transparent;
  border-bottom: 1.25rem solid transparent;
}

.timeline-unit--left .timeline-box {
  @apply .ml-auto;
}

.timeline-unit--left .timeline-box::after {
  right: -1.25rem;
  border-left: 1.25rem solid #FFF;
}

.timeline-unit--right .timeline-box::after {
  left: -1.25rem;
  border-right: 1.25rem solid #FFF;
}

.timeline-unit-header {
  @apply .font-light .mb-1;
}

.timeline-unit--left .timeline-unit-header {
  @apply .text-right;
}

.timeline-unit-header h3 {
  @apply .text-2xl .mb-0 .font-light;
}

.timeline-unit-header-date {
  @apply .text-2xl;
}

.timeline-unit-body {
  @apply .pt-5 .mb-3 .border-solid .border-t .border-grey-light;
}
