.timeline-unit {
  @apply .relative .w-full .py-5;

  transition: max-height 0.5s;
  max-height: 25rem;
  padding-right: 2.25rem;
}

.timeline-unit::before {
  @apply .absolute .pin-t .bg-teal .h-full;

  content: '';
  width: 10px;
  right: 0.75rem;
}

.timeline-unit--hidden {
  @apply .my-0 .py-0;

  max-height: 0;
}
.timeline-unit--hidden .timeline-box {
  @apply .opacity-0;

  transition-delay: 0s;
  transform: scale(0.9);
}

.timeline-box {
  @apply .relative .p-8 .bg-white .border-b-4 .border-grey .border-solid .transition .ml-auto;

  max-width: 27.5rem;
  transition-delay: 0.5s;
  transform: scale(1);
}

.timeline-box::after {
  @apply .absolute;

  content: '';
  top: calc(50% - 1.25rem);
  height: 0;
  width: 0;
  line-height: 0;
  border-top: 1.25rem solid transparent;
  border-bottom: 1.25rem solid transparent;
}

.timeline-box::after {
  right: -1.25rem;
  border-left: 1.25rem solid #FFF;
}

.timeline-unit-header {
  @apply .font-light .mb-1;
}

.timeline-unit-header {
  @apply .text-right;
}

.timeline-unit-header h3 {
  @apply .text-2xl .mb-0 .font-light;
}

.timeline-unit-header-date {
  @apply .text-2xl;
}

.timeline-unit-body {
  @apply .pt-5 .mb-3 .border-solid .border-t .border-grey-light;
}

@screen md {
  .timeline-unit {
    @apply .w-1/2;
  }

  .timeline-unit.timeline-unit--left {
    @apply .pr-5;

  }

  .timeline-unit.timeline-unit--right {
    @apply .pl-5 .pr-0 .ml-auto;
  }

  .timeline-unit.timeline-unit--left::before {
    right: -5px;
  }

  .timeline-unit.timeline-unit--right::before {
    right: unset;
    left: -5px;
  }

  .timeline-unit.timeline-unit--right .timeline-box {
    margin-left: unset;
  }

  .timeline-unit.timeline-unit--right .timeline-box::after {
    left: -1.25rem;
    border-right: 1.25rem solid #FFF;
    border-left: unset;
  }
}
