<div class="greeter h-90vh flex flex-col justify-center" ...attributes>
  <div class="flex justify-center">
    <img src="/images/emberconf_profilepic.jpg" class="block rounded-full border-solid border-8 border-white w-64 h-64">
    <div class="flex flex-col justify-center align-center pl-5">
      <div class="hello hidden-print">
        <span>Hello<span>.</span></span>
      </div>
      <div class="">
        <h1>Nick Schot</h1>
        <span>Developer</span>
      </div>
    </div>
  </div>
  <ul class="list-reset">
    <li class="github"><a href="https://github.com/nickschot" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li class="facebook"><a href="https://www.facebook.com/nickschot" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    <li class="twitter"><a href="https://twitter.com/nickschot" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li class="linkedin"><a href="https://www.linkedin.com/in/nick-schot-4936a030" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  </ul>
</div>