<div class="greeter h-90vh flex flex-col justify-center" ...attributes>
  <div class="flex flex-col sm:flex-row justify-center items-center sm:mb-24">
    <img src={{blog.coverImage}} class="greeter-img block rounded-full border-solid border-8 border-white w-48 h-48 sm:w-64 sm:h-64">
    <div class="flex flex-col justify-center align-center">
      <div class="greeter-title overflow-hidden py-3 my-5 sm:my-0 sm:py-5 ml-5 pl-5 border-l-4 border-white">
        <h1 class="text-4xl sm:text-5xl font-light w-full block">Nick Schot</h1>
        <span class="text-2xl sm:text-3xl font-light w-full block">Developer</span>
      </div>
    </div>
  </div>
  <div class="text-center">
    <SocialIcons/>
  </div>
</div>