{{!--
Re-usable card for linking to posts
--}}
<article class="post-card bg-white flex flex-col transition border-grey border-b-4" style="min-height: 27.5rem;" ...attributes>
  {{#link-to 'post' @post.id class="no-underline h-full"}}
    {{#if @post.image}}
        <div style={{computedStyle}} class="bg-center bg-no-repeat bg-cover h-64 border-4 border-white"></div>
    {{/if}}

    <div class="px-6 pt-4">
      <h2 class="font-bold text-xl mb-2 etw-text-black">{{@post.title}}</h2>
    </div>
    <section class="text-grey-darker text-sm px-6">
      <p class="mb-0">{{excerpt @post.html words="33"}}&hellip;</p>
    </section>
  {{/link-to}}

  <div class="px-6 py-4 mt-auto">
    {{#each @post.tags as |tag|}}
      {{#link-to 'tag' tag class="inline-block bg-grey-lighter hover:bg-teal rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2 no-underline hover:text-teal-lighter "}}
        #{{tag}}
      {{/link-to}}
    {{/each}}
  </div>
</article>