<ul class="social-icons" ...attributes>
  <li class="social-icon github"><a href="https://github.com/nickschot" target="_blank"><FaIcon @icon="github" @prefix="fab"/></a></li>
  <li class="social-icon twitter"><a href="https://twitter.com/nickschot" target="_blank"><FaIcon @icon="twitter" @prefix="fab"/></a></li>
  <li class="social-icon linkedin"><a href="https://www.linkedin.com/in/nick-schot-4936a030" target="_blank"><FaIcon @icon="linkedin" @prefix="fab"/></a></li>
</ul>