<div class="" ...attributes>
  <TransitionIn @type="slide-up">
    <h2 class="uppercase text-center text-5xl font-light mb-10">Timeline</h2>
  </TransitionIn>
  <div class="mb-10 text-center italic text-3xl font-light text-grey-darker flex justify-center">
    <a class="hover:bg-teal hover:text-white border-r border-solid border-grey-darker py-2 px-4">Study related</a>
    <a class="hover:bg-teal hover:text-white border-l border-solid border-grey-darker py-2 px-4">Work related</a>
  </div>

  <div class="timeline-head"></div>

  <div class="timeline-items">
    {{yield (hash
        Now=(component "timeline/now")
        Unit=(component "timeline/unit")
    )}}
  </div>

  <div class="timeline-tail"></div>
</div>