<HeadLayout/>

<header class="header-main fixed w-full z-50 pin-t bg-green-bamboo text-white">
    <div class="container mx-auto">
        <Navigation/>
    </div>
</header>

<main id="site-main" class="pt-16">

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{outlet}}

</main>

{{!-- The footer at the very bottom of the screen --}}
<footer class="text-center py-16">
  <div class="mx-auto mb-10 border-solid border-t border-grey pt-10" style="width:20rem">
    <SocialIcons/>
  </div>
  <span class="text-center text-grey-darker font-light text-lg">&copy; 2016-{{date format="YYYY"}} &ndash; Nick Schot</span>
</footer>
