<div class="bg-teal text-white flex justify-center">

  <Greeter/>

  <a class="scroll-down hidden-print">
    <i class="fa fa-angle-down" aria-hidden="true"></i>
  </a>
</div>

<div class="entry-bar hidden-print">
  <a><i class="fa fa-caret-up"></i></a>
</div>

<div class="container mt-32">
  <h2 class="uppercase text-center text-5xl font-light">~% whoami</h2>
  <div class="flex flex-wrap">
    <div class="w-full sm:w-1/2 border-b-4 border-solid border-grey bg-white p-8">
      <h3 class="text-center font-light text-4xl border-b border-solid border-grey-light pb-3">About</h3>

      <div class="about-horizontal">
        <div class="row">
          <div>Name:</div>
          <div>Nick Schot</div>
        </div>
        <div class="row">
          <div>Education:</div>
          <div>Computer Science BSc</div>
        </div>
        <div class="row">
          <div>Occupation:</div>
          <div>
            <ul>
              <li>Co-founder at Webhub</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div>About me:</div>
          <div>
            <ul>
              <li>Passionate <b>web developer</b> from The Netherlands.</li>
              <li>Creator of <b>innovative</b> web applications.</li>
              <li>Frontend/client-side applications are a specialty.</li>
              <li>Turning coffee into code since 2008.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2">
      <div class="card skills">
        <h3>Skills</h3>
        <div class="row">
          <div class="col-xs-6 programming">
            <h4>Development</h4>
            <ul>
              <li>HTML5/(S)CSS</li>
              <li>JavaScript
                <ul>
                  <li><a class="fancy" href="http://emberjs.com/" target="_blank">Ember.js</a></li>
                  <li><a class="fancy" href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
                  <li><a class="fancy" href="http://electron.atom.io/" target="_blank">Electron</a></li>
                </ul>
              </li>
              <li>PHP</li>
              <li>Databases
                <ul>
                  <li><a class="fancy" href="https://www.mongodb.com/" target="_blank">MongoDB</a></li>
                  <li><a class="fancy" href="https://www.mysql.com/" target="_blank">MySQL</a>/<a class="fancy" href="https://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-xs-6 interests">
            <h4>Interests</h4>
            <ul>
              <li>Web application development</li>
              <li>Smooth & modern user experiences</li>
              <li>Client side applications</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<Timeline as |t|>
  <t.Now />

  <t.Unit>
    <div class="timeline-unit-header">
      <h3>Started as secretary at Inter-<i>Actief</i></h3>
      <span class="timeline-unit-header-date"><small>September 2013</small></span>
    </div>
    <p><b>Inter-<i>Actief</i></b> is the study association for Computer Science at the University of Twente.</p>
    <div><i class="fa fa-link" aria="hidden"></i> <a class="fancy" href="https://www.inter-actief.utwente.nl" target="_blank">https://www.inter-actief.utwente.nl</a></div>
  </t.Unit>

  <t.Unit>

  </t.Unit>
</Timeline>